<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatbot</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/1G2G6Nz5Q5rW1/8z2I/5oAwKzN/8W8eE/+9KKJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div class="container">
    <img src="{{ url_for('static', filename='logoinvert.png') }}" alt="TusBot" id="logo">
    <div class="chat-window" id="chat-window">
      <div class="message bot">Hi, my name is TusBot, how can I help you?</div>
    </div>
    <div class="form-container">
      <input type="text" id="user-input" placeholder="Type your message..." autocomplete="off">
      <button id="send-button">Send</button>
      <button id="microphone-button" type="button">🎤
      <div id="listening-animation" style="display: none;"></div>
      </button>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      function sendMessage() { // Encapsulated send message functionality in a function
        var userInput = $('#user-input').val();
        if (userInput) {
          $('#chat-window').append('<div class="message user">' + userInput + '</div>');
          $('#user-input').val('');
          $.ajax({
            url: '/get_response',
            data: { 'user_input': userInput },
            type: 'POST',
            success: function(response) {
              $('#chat-window').append('<div class="message bot">' + response.response + '</div>');
              $('#chat-window').scrollTop($('#chat-window')[0].scrollHeight);
            },
            error: function(error) {
              console.log(error);
            }
          });
        }
      }

      $('#send-button').click(sendMessage);

      $('#user-input').keypress(function(event) {
        if (event.which == 13) {
          event.preventDefault();
          sendMessage();
        }
      });

      if ('SpeechRecognition' in window || 'webkitSpeechRecognition' in window) {
        var SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        var recognition = new SpeechRecognition();
        recognition.continuous = false;
        recognition.interimResults = false;
        recognition.lang = 'en-US';

        recognition.onresult = function(event) {
          var last = event.results.length - 1;
          var user_input = event.results[last][0].transcript;
          $('#user-input').val(user_input);
          sendMessage();
        };

        $('#microphone-button').click(function() {
          $('#listening-animation').css('display', 'block');
          recognition.start();
        });

        recognition.onend = function() {
  $('#listening-animation').css('display', 'none');
};
      } else {
        $('#microphone-button').prop('disabled', true);
      }

    });
  </script>
</body>
</html>
